#ole-toolbar {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 10px;
  background-color: rgba(255,255,255,0.7);
}

#ole-toolbar button.ole-control {
  background: white;
  border: 1px solid #666;
  cursor: pointer;
  font-size: 14px;
  margin: 0 5px;
  padding: 3px 5px;
}

#ole-toolbar button.ole-control:focus {
  outline: 0;
}

#ole-toolbar button.ole-control.active {
  background: #ddd;
}
